/* Colors used:
primary-color (Blue): 2D00F7 */
/* secondary-color (Green): 49FCC3 */
body {
  background-color: #FBF8F4;
  font-family: 'Arimo', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #555657;
}

h1 {
  color: #010C1A;
}

h2, h3, h4 {
  color: #555657;
}

h1 {
  font-size: 2em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

.home .hero h1 span {
  font-size: 0.5em;
  font-weight: 400;
  display: block;
}

img {
  width: 100%;
}

a {
  color: #4100F7;
}

a:visited {
  /* visited link */
  color: #4100F7;
}

a:hover, a:focus {
  color: #00F7A8;
}

a:active {
  /* selected link */
  color: #ff006e;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #4100F7;
  color: #FCFFF1 !important;
  /* needed to override the default link color */
  font-weight: 400;
  text-decoration: none;
  padding: 18px 56px;
  border-radius: 13px;
  transition: 0.2s background-color;
  box-shadow: 0px 6px 12px rgba(11, 1, 44, 0.28);
}

.button:hover {
  background-color: #49FCC3;
}

.button.contact {
  background-color: transparent;
  color: #4100F7 !important;
  text-transform: uppercase;
  border: 2px solid #4100F7;
}

.button.contact:hover {
  background-color: #2D00F7;
  color: #FCFFF1 !important;
}
