/* Colors used:
primary-color (Blue): 2D00F7 */
/* secondary-color (Green): 49FCC3 */
body {
  background-color: #FBF8F4;
  font-family: 'Arimo', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.5em;
  /* Sets the line-height to 1.6 * the font-size */
  color: #4D4A4A;
}

p {
  margin-top: 0.5em;
  margin-bottom: 1em;
}

h1 {
  color: #010936;
}

h2, h4 {
  color: #121018;
}

h3 {
  color: #121018;
}

h1 {
  font-size: 1.8em;
  font-weight: 700;
  padding: 0.5em, 0;
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
}

h3 {
  font-size: 1.3em;
  font-weight: 500;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h4 {
  font-size: 1.2em;
  font-weight: 700;
}

h5 {
  font-size: 16px;
  font-weight: bold;
}

.home .hero h1 span {
  font-size: 0.5em;
  font-weight: 400;
  display: block;
  padding-top: 1em;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h6 {
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 700;
}

.left-align {
  text-align: left;
}

img {
  width: 100%;
}

a {
  color: #4100F7;
}

a:visited {
  /* visited link */
  color: #4100F7;
}

a:hover, a:focus {
  color: #00F7A8;
}

a:active {
  /* selected link */
  color: #ff006e;
}

.button-position {
  text-align: center;
}

.button {
  display: inline-block;
  background-color: #4100F7;
  color: #FCFFF1 !important;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  padding: 16px 63px;
  border-radius: 11px;
  transition: 0.2s opacity;
  /*box-shadow: 0px 6px 12px rgba(11, 1, 44, 0.28);*/
  margin-top: 16px;
  margin-bottom: 24px;
}

.button:hover {
  opacity: 0.8;
  background-color: #4100F7;
}

.button:active {
  opacity: 0.8;
  text-decoration: none;
}

.button.contact {
  background-color: #FEFDF9;
  text-align: center;
  color: #4100F7 !important;
}

.button.contact:hover {
  background-color: #4100F7;
  color: #FCFFF1 !important;
}

/* Layout styling */
.container {
  padding: 0 16px;
}

.row {
  margin: 8px 0;
  /* 25px top and bottom, 0 left and right */
}

#projects .row {
  padding: 8px 0;
}

#projects h2 {
  margin-top: 1em;
  margin-bottom: 1.5em;
}

#hero h1 {
  text-align: left;
}

.home .logo a {
  text-decoration: none;
  color: #FFF9EE;
  font-size: 1.3em;
  display: inline-block;
}

.logo {
  display: inline-block;
  padding: 1em;
}

.logo a {
  text-decoration: none;
  color: #29261F;
}

header {
  background-color: #FBF8F4;
  display: block;
  text-align: center;
  border: 0;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  position: fixed;
}

.home main {
  padding-top: 0;
}

nav {
  width: 100%;
}

nav>ul {
  list-style-type: none;
  font-size: 0.85em;
  padding: 0;
  margin: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 1.5em;
  font-weight: 400;
  color: #010936;
}

nav>ul>li>a:visited {
  color: #010936;
}

nav>ul>li>a:hover {
  color: #606D82;
}

nav>ul>li>a:focus {
  color: #606D82;
  font-weight: bold;
}

nav>ul>li>a:active {
  color: #606D82;
}

ul {
  list-style-type: square;
  color: #4D4A4A;
}

.active {
  color: #626E83 !important;
}

.home nav a {
  color: #DCD3C7;
}

.home nav a:visited {
  color: #DCD3C7;
}

.home .active {
  color: #FFF9EE !important;
}

/* animation for navigation*/
nav .highlightTextOut .li {
  color: rgba(255, 255, 255, 0.3);
}

nav .highlightTextOut li:before, nav.highlightTextIn li:before {
  position: absolute;
  color: #FFF;
  top: 0px;
  left: 0px;
  padding: 10px;
  overflow: hidden;
  content: attr(alt);
  transition: all 0.3s;
  transform: scale(0.8);
  opacity: 0;
}

nav.highlightTextOut li:hover:before, nav.highlightTextIn li:hover:before {
  transform: scale(1);
  opacity: 1;
}

* {
  box-sizing: border-box;
}

.home header {
  background: transparent;
}

#hero {
  background-color: #ffe4c4;
  margin: 0;
  padding: 0.67em 0;
  display: inline-block;
  width: 100%;
}

.home .hero {
  background-image: url("../img/background1@1x.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
}

.home .hero h1 {
  padding: 5em 1em 13em;
  color: #FFF9EE;
  margin: 0;
  position: relative;
  z-index: 999999;
}

.home .hero .overlay {
  background-color: rgba(30, 46, 58, 0.63);
  position: absolute;
  width: 100%;
  height: 100%;
}

.home header {
  top: 0;
  z-index: 999999999;
}

main {
  padding-top: 86px;
  padding-bottom: 32px;
}

home main {
  padding-top: 0;
}

projects {
  padding-top: 77px;
}

#projects {
  width: 100%;
  margin: 24px 0;
}

#projects .h2 {
  text-align: center;
}

#projects .row {
  padding-bottom: 24px;
}

.prowater .hero h1 span {
  font-size: 0.4em;
  display: block;
  padding-top: 0.5em;
  letter-spacing: 1px;
}

.text-center {
  text-align: center;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

footer {
  padding: 1.5em 0 0.5em;
  background-image: url("../img/background2@1x.jpg");
  background color: #cccc;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.mini-container {
  max-width: 670px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(251, 248, 244, 0.45);
  border: 2px solid #fff;
  padding: 0.5 1em 1em;
  border-radius: 4px;
  box-shadow: 0px 6px 15px rgba(26, 37, 57, 0.25);
}

footer .h2 {
  text-align: center;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer ul>li {
  display: inline-block;
  margin: auto;
  padding: 0 1em;
}

footer a .fa-linkedin {
  color: #0084B1;
  font-size: 1.3em;
}

footer {
  text-align: center;
  font-size: 1.2em;
}

footer a .fa-dribbble-square {
  color: #ED4989;
  font-size: 1.3em;
}

footer a .fa-behance-square {
  color: black;
  font-size: 1.3em;
}

.copyright {
  text-align: center;
  color: #DBD1D1;
  font-size: 0.80em;
}

.copyright .p {
  margin-bottom: 0;
}

.full-width {
  margin: 0 -16px;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  #projects .h2 {
    text-align: center;
  }

  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  #hero span {
    display: block;
  }

  main {
    padding-top: 98px;
    padding-bottom: 32px;
  }

  body {
    font-size: 18px;
  }

  .col-md-8 {
    width: 66.66%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-4 {
    width: 33.33%;
  }

  [class*="col-"] {
    float: left;
    padding: 0 1em;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .button-position {
    text-align: left;
  }

  #about h1 {
    margin-top: 0;
    text-align: left;
    padding-top: 20px;
    padding-left: 0;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2em;
    margin-bottom: 0.8em;
    text-align: center;
  }

  about .h3 {
    text-align: center;
  }

  about .col-6 .li {
    margin: O, auto;
  }

  about .picture {
    float: right;
  }

  .container {
    padding: 0 1em;
  }

  .prowater .hero h1 span {
    padding-top: 1em;
    margin-bottom: 0;
  }

  .prowater h2 {
    font-size: 1.8em;
  }

  .prowater p {
    margin-top: 1.5em;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-9 {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em 1.5em;
  }

  h1 {
    font-size: 4em;
  }

  h2 {
    font-size: 2.5em;
  }

  h3 {
    font-size: 1.5em;
  }

  .home .hero h1 {
    padding: 3em 0 6em;
  }

  .about .button {
    margin-top: 2em;
    margin-left: 4em;
  }

  .about .h3 {
    margin-bottom: 2em;
  }

  .mini-container {
    max-width: 1141px;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}
