/* Colors used:
primary-color (Blue): 2D00F7 */

/* secondary-color (Green): 49FCC3
background: FBFAF8 */

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fbfaf8;
  font-family: 'Arimo', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5em;
  color: #4d4a4a;
}

p {
  margin-top: 0.5em;
  margin-bottom: 1em;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h1 {
  color: #010936;
}

.home .hero h1 span {
  font-size: 0.5em;
  font-weight: 400;
  display: block;
  padding-top: 1em;
  color: #e4ddcf;
}

h2,
h4 {
  color: #121018;
}

h3 {
  color: #121018;
}

h1 {
  font-size: 1.65em;
  font-weight: 700;
  padding: 0.5em 0;
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
}

#projects h2 {
  margin-top: 1em;
}

#hero h1 {
  text-align: left;
}

h3 {
  font-size: 1.3em;
  font-weight: 500;
}

h4 {
  font-size: 1.2em;
  font-weight: 700;
}

h5 {
  font-size: 16px;
  font-weight: bold;
}

h6 {
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 700;
}

.left-align {
  text-align: left;
}

img {
  width: 100%;
}

.home main {
  padding-top: 0;
  margin-top: -82px;
}

ul {
  list-style-type: square;
  color: #4d4a4a;
}

.active {
  color: #626e83 !important;
}

a {
  color: #4100f7;
}

a:visited {
  /* visited link */
  color: #4100f7;
}

a:hover,
a:focus {
  opacity: 0.8;
  color: #4100f7;
}

a:active {
  /* selected link */
  color: #ff006e;
}

.button-position {
  text-align: center;
}

.button {
  display: inline-block;
  background-color: #4100f7;
  color: #fcfff1 !important;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  padding: 16px 63px;
  border-radius: 11px;
  transition: 0.2s opacity;
  margin-top: 16px;
  margin-bottom: 24px;
}

.button:hover {
  opacity: 0.8;
  background-color: #4100f7;
}

.button:active {
  opacity: 0.8;
  text-decoration: none;
}

.button.contact {
  background-color: #fbfaf8;
  text-align: center;
  color: #4100f7 !important;
}

.button.contact:hover {
  background-color: #4100f7;
  color: #fcfff1 !important;
}

.btn-outlined {
  border: 2px solid #dcd3c7;
  background-color: transparent;
  padding: 8px 16px;
  margin-left: 1.5em;
  margin-right: 1.5em;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.btn-outlined:hover {
  background-color: #4100f7;
  color: #fff9ee !important;
}

.about .btn-outlined {
  border: 2px solid rgba(1, 9, 54, 0.6) !important;
}

.about .btn-outlined:hover {
  color: #fff9ee !important;
}

.container {
  padding: 0 16px;
}

.row {
  margin: 8px 0;
}

#projects .row {
  padding: 8px 0;
}

.logo {
  display: inline-block;
  padding: 1em 0;
  max-width: 150px;
}

.logo a {
  text-decoration: none;
  color: #29261f;
}

.home .logo a {
  text-decoration: none;
  color: #fff9ee;
  font-size: 1.3em;
  display: inline-block;
}

header {
  background-color: #fbfaf8;
  display: block;
  border: 0;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  position: fixed;
  z-index: 9999999;
  top: 0;
  transition: all 0.3s ease;
}

.prowater .navtoggle.responsive {
  background-color: #fbfaf8;
}

#header.hide {
  top: -100px;
}

.home .header {
  background-color: transparent;
}

.header.header-active {
  background-color: rgba(34, 34, 34, 0.9);
}

.prowater .header.header-active {
  background-color: #fbfaf8 !important;
}

.prowater .navtoggle li .icon {
  color: #010c1a;
}

.about .navtoggle li .icon {
  color: #010c1a;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle.responsive nav {
  padding: 24px 0 32px;
}

.navtoggle.responsive li {
  display: block;
  padding: 20px 0;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 16px;
  font-size: 20px;
  padding-right: 0;
  color: #fff9ee;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

nav {
  width: 100%;
}

nav>ul {
  list-style-type: none;
  font-size: 1em;
  padding: 0;
  margin: 0;
}

nav>ul>li>a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 1.5em;
  font-weight: 400;
  color: #010936;
}

nav .active {
  background-color: transparent;
}

nav>ul>li>a:visited {
  color: #010936;
}

nav>ul>li>a:hover {
  color: #606d82;
}

nav>ul>li>a:focus {
  color: #606d82;
  font-weight: bold;
}

nav>ul>li>a:active {
  color: #606d82;
}

.home nav a {
  color: #fff9ee;
}

.home nav a:visited {
  color: #fff9ee;
}

.home .active {
  color: #e2d9d0 !important;
}
.home nav ul li a:hover {
  color: #fff9ee !important;
}

#hero {
  background-color: #ffe4c4;
  margin: 0;
  padding: 0.67em 0;
  display: inline-block;
  width: 100%;
}

.home .hero {
  background-image: url("../img/background1@1x.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
  height: 700px;
}

.home .hero h1 {
  color: #fff9ee;
  margin: 0;
  position: relative;
  z-index: 999999;
}

.home .hero .overlay {
  background-color: rgba(30, 46, 58, 0.75);
  position: absolute;
  width: 100%;
  height: 100%;
}

.home .hero .container {
  display: flex;
  height: 100%;
  align-items: center;
}

.column {
  width: 100%;
}

.home .row {
  margin: 8px -16px;
}

/* Clear floats after rows */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 1em;
  border: 1px solid #ddd;
  margin-right: 8px;
  margin-bottom: 8px;
}

main {
  padding-top: 36px;
}

.home main {
  padding-top: 0;
}

.projects {
  padding-top: 77px;
}

#projects {
  width: 100%;
  margin: 24px 0;
}

#projects .h2 {
  text-align: center;
}

#projects .row {
  padding-bottom: 24px;
}

.prowater .hero h1 span {
  font-size: 0.4em;
  display: block;
  padding-top: 0.5em;
  letter-spacing: 1px;
}

.text-center {
  text-align: center;
}

footer {
  padding: 1.5em 0 0.2em;
  background-image: url("../img/background2@1x.jpg");
  background-color: #cccc;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.mini-container {
  max-width: 670px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(251, 248, 244, 0.45);
  border: 2px solid #fff;
  padding: 2em 1em 1em;
  border-radius: 4px;
  box-shadow: 0 18px 19px rgba(26, 37, 57, 0.15);
}

footer .h2 {
  text-align: center;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer ul>li {
  display: inline-block;
  margin: auto;
  padding: 0 1em;
}

footer a .fa-linkedin {
  color: #0084b1;
  font-size: 1.3em;
}

footer {
  text-align: center;
  font-size: 1.2em;
}

footer a .fa-dribbble-square {
  color: #ed4989;
  font-size: 1.3em;
}

footer a .fa-behance-square {
  color: black;
  font-size: 1.3em;
}

.copyright {
  text-align: center;
  color: #dbd1d1;
  font-size: 0.8em;
}

.copyright .p {
  margin-bottom: 0;
}

.full-width {
  margin: 0 -16px;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  background: #fbfaf8;
}

/* Slides */
.mySlides {
  display: none;
  padding: 2em;
  text-align: center;
  border: 1px solid #ddd;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  background: #ddd;
  margin-bottom: 40px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 0.7em;
  width: 0.7em;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active,
.dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {
  font-style: italic;
}

/* Add a blue color to the author */
.author {
  color: cornflowerblue;
}

/* The Overlay (background) */
.navtoggle.responsive {
  background-color: rgba(30, 36, 40, 0.99);
  margin-left: -16px;
  margin-right: -16px;
  padding-left: 15px;
  padding-right: 15px;
}

.navtoggle.responsive li .icon {
  right: 15px;
}

.about .navtoggle.responsive {
  background-color: #fbfaf8;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  #projects .h2 {
    text-align: center;
  }
.content {
  display: flex;
  flex-direction: column;
}
.button-position {
  margin-top: auto;
}
  .home .column {
    width: 50%;
    display: flex;
  }
  #projects .row {
      display: flex;
      flex-wrap: wrap;
  }

  .home .row>column {
    padding: 8px;
  }

  header {
    text-align: unset;
  }

  nav>ul>li {
    display: inline-block;
  }

  nav>ul {
    margin: 1em 0;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .navtoggle.responsive li {
    padding: 0;
  }

  .navtoggle.responsive {
    background-color: transparent;
  }

  .navtoggle.responsive nav {
    padding: 0;
  }

  #hero span {
    display: block;
  }

  main {
    padding-top: 98px;
    padding-bottom: 32px;
  }

  .home.hero {
    height: 900px;
  }

  .home main {
    padding-bottom: 0;
  }

  body {
    font-size: 18px;
  }

  .col-md-8 {
    width: 66.66%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-4 {
    width: 33.33%;
  }

  [class*="col-"] {
    float: left;
    padding: 0 1em;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .button-position {
    text-align: left;
  }

  #about h1 {
    margin-top: 0;
    text-align: left;
    padding-top: 20px;
    padding-left: 0;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2em;
    margin-bottom: 0.8em;
  }

  .about .h3 {
    text-align: center;
  }

  .about .col-6 .li {
    margin: 0 auto;
  }

  .about .picture {
    float: right;
  }

  .container {
    padding: 0 1em;
  }

  .prowater .hero h1 span {
    padding-top: 1em;
    margin-bottom: 0;
  }

  .prowater h2 {
    font-size: 1.8em;
  }

  .prowater .button {
    text-align: center;
  }

  .text-center {
    text-align: center;
  }

  .negative-margin {
    margin: 0 -18px;
  }

  .mySlides {
    display: none;
    padding: 2em 4em;
    text-align: center;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .row::after {
    content: "";
    display: table;
    clear: both;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em 1.5em;
  }

  h1 {
    font-size: 3.5em;
  }

  h2 {
    font-size: 2.5em;
  }

  .prowater h2 {
    margin-top: 1.8em;
    margin-bottom: 1em;
  }

  h3 {
    font-size: 1.5em;
  }

  .about .button {
    margin-top: 2em;
  }

  .about .h3 {
    margin-bottom: 2em;
  }

  .narrow-column {
    max-width: 75%;
    margin: 0 auto;
  }

  .button {
    margin: 2em 0;
  }

  .mini-container {
    max-width: 1141px;
  }

  .prowater picture {
    margin-top: 16px;
  }

  .home .hero {
    height: 790px;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
  /* foo */
}
